/* Basics */
body {
    Margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #ffffff;
}

table {
    border-spacing: 0;
    font-family: sans-serif;
    color: #333333;
}

td {
    padding: 0;
}

img {
    border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.webkit {
    max-width: 600px;
}

.outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.inner {
    padding: 10px 25px 10px 25px;
}

p {
    Margin: 0;
}

a {
    color: #ee6a56;
    text-decoration: underline;
}

.h1 {
    font-size: 21px;
    font-weight: bold;
    Margin-bottom: 18px;
}

.h2 {
    font-size: 18px;
    font-weight: bold;
    Margin-bottom: 12px;
}

/* One column layout */
.one-column .contents {
    text-align: left;
}

.one-column p {
    font-size: 24px;
    font-weight: bold;
    Margin-bottom: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.one-column-appeal p {
    font-size: 16px;
    font-weight: normal;
}

.one-column-talon p {
    font-size: 20px;
    font-weight: bold;
}

.one-column-come p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.one-column-button p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.one-column-care p {
    text-align: left;
    font-size: 24px;
    font-weight: medium;
}

.one-column-footer {
    border-top: 1px solid #afafaf;
}

.one-column-care .namePolyclinic {
    font-size: 16px;
    padding: 10px 0 10px 0;
}

.one-column-gerb p {
    font-size: 16px;
}


.talon {
    font-size: 16px;
    font-weight: bold;
}

.header {
    background-color: #f3a21b;
}

.grey {
    background-color: #f2f2f2;
}

.button {
    border-radius: 5px;
    text-align: center;
}

.success {
    background-color: green;
}

.danger {
    background-color: red;
}

.button a {
    padding: 8px 12px;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;
}

.two-column .column {
    width: 50%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.contents {
    width: 100%;
}

.two-column .contents {
    font-size: 14px;
    text-align: left;
}

.two-column .text {
    padding-top: 10px;
}

/* Windows Phone Viewport Fix */
@-ms-viewport {
    width: device-width;
}